[gcode_macro PRIME_LINE]
gcode:
  G92 E0 ; Reset Extruder
  G1 X20.1 Y40 Z0.2 F5000.0 ; Move to start position
  G1 X20.1 Y180.0 Z0.2 F3000.0 E15 ; Draw the first line
  G1 X20.5 Y180.0 Z0.2 F5000.0 ; Move to side a little
  G1 X20.5 Y40 Z0.2 F3000.0 E30 ; Draw the second line
  G92 E0 ; Reset Extruder
  G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
  G1 E-2 F300 ; retract a little bit 

[gcode_macro START_PRINT]
gcode:
    # 1. Get temperatures from Slicer
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}
    # 2. Start heating and Home
    M140 S{BED_TEMP}       ; Start bed heat
    G90                    ; Absolute positioning
    G28                    ; Home all axes  
    # 3. Wait for bed temp (Important for thermal expansion!)
    M190 S{BED_TEMP}
    # 4. LOAD THE SAVED MESH
    BED_MESH_PROFILE LOAD=default
    # 5. Move to wait position and heat nozzle
    G1 X5 Y5 Z30 F5000     ; Move to corner, stay 30mm up for safety
    M109 S{EXTRUDER_TEMP}  ; Wait for nozzle temp
    PRIME_LINE    

[gcode_macro END_PRINT]
gcode:
  G91; relative positioning
  G1 Z1.0 F3000 ; move z up little to prevent scratching of print
  G90; absolute positioning
  M104 S0; turn off extruder
  M140 S0 ; turn off bed
  G1 X0 Y175 F1000 ; prepare for part removal
  M84 ; disable motors
  M106 S255 ; Turn the part cooling fan up to 100% to blast the nozzle
  TEMPERATURE_WAIT SENSOR=extruder MAXIMUM=45
  M106 S0 ; turn off fan
