[Unit]
Description=EasyEffects inside Xvfb

[Service]
Type=simple
ExecStart=/usr/local/bin/easyeffects.service.sh start
ExecStop=/usr/local/bin/easyeffects.service.sh stop
Restart=on-failure

[Install]
WantedBy=default.target
